*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta Mahee', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* !! navbar */
nav{
    position: fixed !important;
    height: 15vh;
    display: flex;
    z-index: 99;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: .6s;
    padding: 2px 50px;
    /* justify-content: space-around; */
}

.navbar-brand-img{
    width: 11vw;
    height: 24vh;
    margin-top: 1vh;
    margin-left: 3vw;
}
.navbar-brand{
    margin-top: 15vh;
    margin-left: 1vw;
}

.navbar-item{
    display: flex;
    width: 75%;
    margin-right: 3vw;
    margin-left: 0;
}
ul.navbar-nav{
    display: flex;
    justify-content:space-around;
    width: 100%;
    /* margin-left: 20vh; */
}
ul.navbar-nav .nav-item{
    font-size: 18px;
    font-weight: 500;
}
.navbar-nav li a:hover{
    transition: .3s;
    color: red !important; 
}
.nav-item{
    justify-content: space-between;
}

.nav-socmed{
    display: flex;
    justify-content: space-evenly;
    width: 15vw;
    margin-right: 2vw;
}
.nav-socmed .fa-brands{
    font-size: 19px;
}
.nav-socmed a:hover .fa-brands{
    transition: .3s;
    color: coral !important;
    scale: 1.2;
}

.dropdown:hover .dropdown-menu{
    display: block !important;
}

nav.sticky {
    background: black;
    backdrop-filter: blur(10px);
    color: #fff;
}

nav.sticky ul li a,
nav.sticky .search input::-webkit-input-placeholder {
    color: #fff;
    font-weight: 400;
}


/* !! End Navbar */

/* !! Header Content */


.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.video-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    overflow: hidden;
}

.video-header img {
    min-height: 100%;
    min-width: 100%;
}

.header-overlay {
    height: 110vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: #000000;
    opacity: .7;
}

.header-content {
    z-index: 2;
}

.header-content h1 {
    font-size: 100px;
    margin-bottom: 0;
    font-family: 'Great Vibes', cursive;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}

.dropdown-menu{
    width: 45vh;
    padding: 0 !important;
    background-image: linear-gradient(rgb(46, 43, 43), rgb(8, 8, 8)) !important;
    border: 1px solid rgb(230, 229, 229) !important;
}
.dropdown-menu li a{
    color: rgb(219, 218, 218) !important;
    height: 7vh;
    display: flex;
    align-items: center;
}
.dropdown-menu li a:hover{
    transition: .5s;
    background-color: rgb(160, 160, 160);
    color: rgb(70, 64, 64) !important;
}

/* !! End Header */


/* !! Gallery */
.container-gallery{
    background-color: rgb(145, 143, 143);
    margin-top: 10vh;
    height: 115vh;
}
.gallery-title h1{
    padding-top: 7vh;
    letter-spacing: 1.5vw;
    text-align: center;
    font-size: 110px;
    color: white;
    font-weight: bolder;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.733);
}
.gallery-card-container{
    padding-left: 1vw;
    padding-right: 1vw;
}
.gallery-card{
    width: 40vh;
    height: 10vh;
}
.gallery-card-top{
    margin-top: 7vh;
    display: flex;
    justify-content: space-around;
}
.gallery-card-bottom{
    margin-top: 28vh;
    display: flex;
    justify-content: space-around;
}
.gallery-img img{
width: 40vh;
}
.gallery-content h6{
    margin-top: 1.5vh;
    word-spacing: 1vw;
    font-size: 15px;
    color: rgb(231, 231, 231);
}
/* !! End Gallery */
