*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta Mahee', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: default;
}

/* Preload */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgb(0, 0, 0);
  }
  .preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font: 14px arial;
  }
/* End preload */

/* !! navbar */
nav{
    position: fixed !important;
    height: 15vh;
    display: flex;
    z-index: 99;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: .6s;
    padding: 2px 50px;
    /* justify-content: space-around; */
}

.navbar-brand-img{
    width: 11vw;
    height: 24vh;
    margin-top: 1vh;
    margin-left: 3vw;
}
.navbar-brand{
    margin-top: 15vh;
    margin-left: 1vw;
}

.navbar-item{
    display: flex;
    width: 75%;
    margin-right: 3vw;
    margin-left: 0;
}
ul.navbar-nav{
    display: flex;
    justify-content:space-around;
    width: 100%;
    /* margin-left: 20vh; */
}
ul.navbar-nav .nav-item{
    font-size: 18px;
    font-weight: 500;
}
.navbar-nav li a:hover{
    transition: .3s;
    color: red !important; 
}
.nav-item{
    justify-content: space-between;
}

.nav-socmed{
    display: flex;
    justify-content: space-evenly;
    width: 15vw;
    margin-right: 2vw;
}
.nav-socmed .fa-brands{
    font-size: 19px;
}
.nav-socmed a:hover .fa-brands{
    transition: .3s;
    color: coral !important;
    scale: 1.1;
}

.dropdown-toggle::after {
    content: none !important;
}

.dropdown:hover .dropdown-menu{
    display: block !important;
}
.dropdown-menu{
    width: 45vh;
    padding: 0 !important;
    background-image: linear-gradient(rgb(46, 43, 43), rgb(8, 8, 8)) !important;
    border: 1px solid rgb(230, 229, 229) !important;
}
.dropdown-menu li a{
    color: rgb(219, 218, 218) !important;
    height: 7vh;
    display: flex;
    align-items: center;
}
.dropdown-menu li a:hover {
    transition: .5s;
    background-color: rgb(160, 160, 160);
    color: rgb(70, 64, 64) !important;
}

nav.sticky {
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(90px);
    color: #fff;
}

nav.sticky ul li a,
nav.sticky .search input::-webkit-input-placeholder {
    color: #fff;
    font-weight: 400;
}
/* !! End Navbar */


/* !! Header Content */


.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.video-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    overflow: hidden;
}

.video-header img {
    min-height: 100%;
    min-width: 100%;
}

.header-overlay {
    height: 110vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: #000000;
    opacity: .7;
}

.header-content {
    z-index: 2;
}

.header-content h1 {
    font-size: 100px;
    margin-bottom: 0;
    font-family: 'Great Vibes', cursive;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}
/* !! End Header */


/* !! Gallery */
.container-gallery{
    background-color: rgb(145, 143, 143);
    margin-top: 10vh;
    height: 115vh;
}
.gallery-title h1{
    padding-top: 7vh;
    letter-spacing: 1.5vw;
    text-align: center;
    font-size: 110px;
    color: white;
    font-weight: bolder;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.733);
}
.gallery-card-container{
    padding-left: 1vw;
    padding-right: 1vw;
}
.gallery-card{
    width: 40vh;
    height: 10vh;
}
.gallery-card-top{
    margin-top: 7vh;
    display: flex;
    justify-content: space-around;
}
.gallery-card-bottom{
    margin-top: 28vh;
    display: flex;
    justify-content: space-around;
}
.gallery-img img{
width: 40vh;
}
.gallery-content h6{
    margin-top: 1.5vh;
    word-spacing: 1vw;
    font-size: 15px;
    color: rgb(231, 231, 231);
}

.imgleft .logo-about:hover{
    animation-iteration-count: 2;
    animation: nextarrow 1s infinite;
    transition: .6s linear;
}
@keyframes nextarrow {
    0%,100% {
        transform: translateY(-3%);
      }    
      50% {
        transform: translateY(2%);
      }
  }
/* !! End Gallery */


/* !! Container Handshake */
.container-handshake{
    padding: 0 !important;
    background-image: url("/img/handshake.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 93vh;
}
.handshake-overlay{
    width: 100%;
    height: 93vh;
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
}
.handshake-content {
    padding-top: 57vh;
    padding-left: 4vh;
}
.handshake-content h3{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    letter-spacing: .25vw;
    word-spacing: .2vw;
}
.handshake-content h3:nth-child(1){
    font-size: 5vw;
}
.handshake-content h3:nth-child(2){
    font-size: 2.7vw;
    font-weight: 900;
}
.handshake-dot{
    margin-left: -1vw;
    margin-top: 6vh;
    display: flex;
    width: 5vw;
    justify-content: space-between;
}
.dot-1{
    width:1.3vh; 
    height:1.3vh;
    margin-left: 1vw;
    border-radius:30px;
    background-color: white;
}
/* !! End Container Handshake */


/* !! Container Our-team */
.container-our-team{
    background-color: rgb(145, 143, 143);
    height: 115vh;
}
.our-team-title{
    display: flex;
    justify-content: center;
    width: 100%;
    letter-spacing: 5px;
}
.our-team-title h1{
    color: white;
    font-weight: bold;
    position: relative;
    font-size: 55px;
    text-shadow:1px 3px 3px rgba(0, 0, 0, 0.534);
    margin-top: -13vh;
}
.our-team-img{
    margin-top: 25vh;
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
}
.our-team-img .img-1,.img-2,.img-3,.img-4,.img-5{
    color: white;
}
.our-team-img .img-2 .img-team{
    display: flex;
    justify-content: center;
}
.our-team-img .img-2 .textnya{
    text-align: center;
}
.our-team-img .img-1,.img-5{
    margin-top: -20vh;
}
.our-team-img .img-2,.img-4{
    margin-top: -10vh;
}
.our-team-img .img-3{
    margin-top: -23vh;
}
.img-team{
    transform: translateY(1vh);
    transition: .7s;
}
.img-team:hover{
    cursor: pointer;
    transform: translateY(-1vh);
    transition: .7s;
}
/* !! End Our-team */

/* !! Culture */
.culture{
    height: 70%;
}
.container-culture{
    height: 100vh;
    width: 100%;
}
.culture-title h3{
    margin-top: 15vh;
    font-size: 2.3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 47%);
    text-align: center;
    word-spacing: .2vw;
}

.culture-card-container{
    margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
}
.culture-card{
    height: 25vw;
    width: 25vw;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 7px;
    padding: 2vw;
    transition: .5s;
}
.culture-card:hover{
    transform: scale(1.07);
    border: 1px solid rgba(211, 28, 28, 0.637);
    background: white;
    transform: rotate(5deg) scale(1.1);
    transition: .5s;
}
.culture-card:nth-child(1),
.culture-card:nth-child(3){
    height: 27vw;
}
.culture-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}
.culture-img1{
    width: 7vw;
}
.culture-card-content{
    text-align: center;
}
.culture-card-content h3{
    font-size: 1.7vw;
    font-weight: 500;
    margin-top: -3.5vh;
    margin-bottom: 3.5vh;
}
.culture-card-content p{
    word-spacing: .1vw;
    font-size: 1.2vw;
    color: rgba(0, 0, 0, 0.637);
}
/* !! End Culture */


/* !! Product */
.product{
    height: 30%;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vw;
}
.product-title{
    display: flex;
    margin-left: 1vw;
}
.product-title h3{
    font-size: 2.7vw;
    font-family: 'Poppins', sans-serif;
}
.product-title h3:nth-child(1){
    font-weight: 700;
    color: red;
}
.product-title h3:nth-child(2){
    font-weight: 700;
    margin-left: .3vw;
}
.product-header hr{
    margin-top: -.1vh;
    margin-left: 1vw;
    width: 5%;
    border: 1px solid red;
    opacity: 100%;
}


.product-card-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.product-card{
    width: 7.4%;
    height: 19vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
    margin-left: .7vw;
    margin-right: .7vw;
    transition: .7s linear;
}
.product-card:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.774);
    /* transform: translateY(-1vw); */
    animation: product-card 3s infinite;
    transition: .7s linear;
    cursor: pointer;
}
@keyframes product-card {
    0%,100% {
        transform: translateY(-25%);
    }    
    50% {
        transform: translateY(5%);
    }
}

.product-img1{
    width: 7vw;
    border-radius: 10px 10px 0 0;
}
.product-card-content{
    width: 100%;
    cursor: pointer;
}
.product-card-content h6{
    font-size: .8vw;
    font-weight: 800;
    text-align: center;
    margin-top: 2.3vh;
    cursor: pointer;
}
/* !! End Product */

/* Start Solution */

.container-solution{
    padding: 0 !important;
    background-image: url("https://www.inspiryconsultant.com/wp-content/uploads/2022/03/pexels-fauxels-3183197-scaled-1.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 150vh;
    background-size: 100rem 100rem;
    margin-top: 30vh;
}

.solution-overlay {
    height: 150vh;
    background: rgba(0, 0, 0, 0.8);
}

.solution-circle {
    display: flex;
    gap: .6rem;
    margin-top: 2rem;
}
.circle-1 {
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 30px;
}

.btn-contact{
    margin-top: 3.5rem;
    width: 210px;
    height: 45px;
    background: #9C2C2C;
    border-radius: 5px;
    cursor: pointer;
}
.btn-contact:hover{
    animation: btncontact 2s infinite;
    transition: .5s;
}
@keyframes btncontact {
    0%,100% {
        transform: translateY(-10%);
    }    
    50% {
        transform: translateY(15%);
    }
}
.title-btn, .title-btn i{
    cursor: pointer;
}

.column-line {
    width: 380px;
    height: 6px;
    background:#FF0000;
    margin-top: 5rem;
    transition: .7s;
}

.column:hover .column-line {
    width: 0%;
    transition: .7s;
}
/* @keyframes columnline {
    0%,100%{
        width:100%;
    }
    to{
        width:0%;
    }
} */


.swiper {
width: 100%;
height: 400px;
background: #DFDFDF;
}

.swiper-slide {
text-align: center;
font-size: 18px;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 220px;
height: 300px;
object-fit: cover;
}
/* End Solution */

/* Start our partner */
.our-partner-logo h1{
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    text-align: center;
    font-size: 43px;
    font-weight: 600;
    text-shadow: 5px 2px #3333332d;
}

.colomn-img-our img:hover{
    animation: nextarrow 2s infinite;
    transition: .6s linear;
}
.colomn-img-our h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    color: #474747;
    font-weight: 700;
}

.our-partner-logo .inline {
    margin-left: 8rem;
    width: 85%;
    height: 2px;
    background: #000;
    margin-top: -.1rem;
}
/* End our partner */

/* !! footer */
.container-footer{
    display: flex;
    margin-top: 10vh;
}

.footer-address{
    width: 35%;
    height: 100%;
}
.footer-address p,b{
    font-family: 'lato', sans-serif;
    font-size: 15px;
    color: black;
}
.footer-address img{
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.footer-address-content{
    margin-top: 5vh;
    display: flex;
}
.address-office{
    width: 45%;
    margin-left: 2vw;
}
.address-marketing{
    width: 55%;
    margin-left: 2vw;
}

.footer-map{
    width: 40%;
    height: 100%;
}
.footer-map h2, .footer-socmed h2{
    font-family: 'helvetica', sans-serif;
    font-weight: 200;
    font-size: 21px;
}

.footer-socmed{
    width: 25%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.footer-socmed-title{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.footer-socmed-content{
    display: flex;
    justify-content: space-evenly;
}
.footer-socmed-btn{
    width: 3vw;
    height: 3vw;
    background: #000;
    border-radius: 100px;
    border: 1px solid grey;
    margin-left: -7vw;
    transition: .4s;
}
.footer-socmed-btn:hover{
    width: 3vw;
    height: 3vw;
    background: rgba(105, 105, 105, 0.774);
    border-radius: 100px;
    transition: .4s;
}
.footer-socmed-btn:nth-child(2),
.footer-socmed-btn:nth-child(3),
.footer-socmed-btn:nth-child(4){
    margin-left: -7vw;
}
.footer-socmed-btn i,.footer-socmed-btn a{
    color: white;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
/* !! end footer */